<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/text/">Text</a></li>
        <li><a href="/json/">JSON</a></li>
        <li><a href="/html/">HTML</a></li>
        <li><a href="/about/">HBS</a></li>
    </ul>
</header>
