<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
<header>header</header>
<main>Created by {{name}} on {{year}}</main>
<footer>footer</footer>
</body>
</html>